body{
     font-family: 'Montserrat', sans-serif;
     margin: 0;
}

.dropzone {
    min-height: 80%;
    border: 2px solid #EB5E28;
    background: white;
    padding: 20px 20px;
}

.btn-get-started{
    float: right;
    color: #FFFFFF;
    background-color: #EB5E28;
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    font-size: 20px;
    font-weight: 500;
    padding: 7px 18px;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    margin-right: 20px;
}
.btn-get-started:hover{
    background-color: #B33C12;
    color: #FFFFFF;
    border-color: #B33C12;
}

.dropzone .dz-message {
    text-align: center;
    margin: 0;
    padding-top: 250px;
    font-size: 36px;
}
.nav{
    background-color: #EB5E28;
    height: 60px;
    width: 100%;
}
.logo-img{
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
}